SECRET_KEY=django-insecure-%kw+re2d4!(km$4cez=ubbqkk2l&&31x98(2x*4x6kw=#6ar4d
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_ENGINE=django.db.backends.sqlite3
DATABASE_NAME=db.sqlite3

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com

ACCESS_TOKEN_LIFETIME_MINUTES=5
REFRESH_TOKEN_LIFETIME_DAYS=1
ROTATE_REFRESH_TOKENS=False
BLACKLIST_AFTER_ROTATION=True
ALGORITHM=HS256
